* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fcfcfc;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: #6c8698;
}

.sidebar {
    width: 260px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #555;
    border: 1px solid #ccc;
}

.user-profile h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.user-profile p {
    font-size: 13px;
    color: #777;
}

.btn-logout {
    width: 100%;
    padding: 10px;
    background-color: #e0f0ff; /* Light blue */
    color: #0066cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 40px;
}
.menu {
    width: 100%;
}


.menu ul {
    list-style: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #666;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 14px;
    gap: 15px;
}

/* Active Menu Item (patient) */
.menu li.active a {
    color: #0066cc;
    border-left: 4px solid #0066cc;
    background-color: transparent; /* Or nice fade if desired */
    padding-left: 11px; /* Adjust for border width */
}

.menu i {
    width: 20px;
    text-align: center;
}

/* --- Main Content Styling --- */
.main-content {
    flex: 1;
    padding: 30px 40px;
}

.all-contant{
    padding: 56px 0px 0px 31px;
    
}

.all-contant p{
    color: white;
    font-size: 25px;
}
@media (max-width:500px) {
  .container {
    flex-direction: column; /* stack sidebar and main content */
  }

  .sidebar {
    width: 100%;
    padding: 15px;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-profile {
    margin-bottom: 0;
  }

  .avatar {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .user-profile h3 {
    font-size: 14px;
  }

  .user-profile p {
    font-size: 11px;
  }
  .menu{
      padding-left: 68px;
  }

  .btn-logout {
    display: none;
    margin-bottom: 0;
    padding: 8px;
    font-size: 12px;
  }

  
.all-contant{
    padding: 56px 0px 0px 31px;
}
.all-contant h2{
    font-size:1em ;
}

.all-contant p{
    color: white;
    font-size: 1em;
}
}