*{
  padding: 0%;
  margin: 0%;
}

.image{
  height: 100vh;
  width: 100vw;
  background-image: url(doctor-5.png);
  position: absolute;
  background-size:cover;
  background-attachment: fixed;
}
.para{
  background: rgba(225, 255, 255,0.2);
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 150px;
  
  
}
.para h3{
  color: blue;
}
.button button{
border-radius: 7px;
padding:10px 51px 12px 45px;
background-color:green;
cursor: pointer;
font-size: 20px;
}
.button{
  margin-top: 40px;
  gap: 30px;
  display:flex;
  justify-content: center;
}
.button button:hover{
  background-color: greenyellow;
}
@media (max-width: 350px) {
  .image{
  height: 100vh;
  width: 100vw;
  background-image: url(doctor-6.jpg);
  position: absolute;
  background-size:cover;
  background-attachment: fixed;
}
.para{
  font-size: 1em;
  margin-top: 208px;
}
.button button{
  font-size: 1em;
  padding: 8px 51px 12px 20px;
}
.button{
  gap: 7px;
}
}