/* MAIN STYLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1e4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN CONTAINER */
.container {
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* LEFT SIDE IMAGE AREA */
.left {
    flex: 1;
    background: #fff;
    position: relative;
}

.doctor-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* RIGHT SIDE LOGIN FORM */
.right {
    flex: 1;
    background: #9747ff;
    padding: 60px;
    color: white;
    position: relative;
}

.right h2 {
    font-size: 28px;
    font-weight: 700;
}

.sub {
    margin-top: 5px;
    font-size: 14px;
    color: #ffddff;
}

/* INPUT FIELD */
.input-group {
    margin-top: 25px;
}

.input-group input {
    width: 100%;
    padding: 14px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #555;
}

/* FORGOT PASSWORD */
.forgot {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #ffecff;
    font-size: 13px;
    text-decoration: none;
}

/* BUTTON */
.btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    background: white;
    color: #9747ff;
    font-weight: bold;
    cursor: pointer;
}

/* SIGNUP LINK */
.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #fff;
    text-decoration: underline;
}